[Desktop Entry]
Name=Activate Eric
Comment=My application which does this
Icon=/home/pi/Pictures/activate.png
Exec=activateUser.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
