[Desktop Entry]
Name=Activate Eric
Comment=My application which does this
Icon=/programs/runAt/storage/images/activate.png
Exec=activateUser.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;
