[Desktop Entry]
Name=runAt GUI
Comment=My application which does this
Icon=/programs/runAt/parentalControl.png
Exec=runAt.sh start
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;