[Desktop Entry]
Name=Update RunAt
Comment=My application which does this
Icon=/programs/runAt/storage/images/update.png
Exec=updateRunAt.sh
Type=Application
Encoding=UTF-8
Terminal=true
Categories=None;